<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Connection</h3>

    <form class="form new-connection-form">
      <div class="form-group">
        <label for="connection-name">Name of your Connection</label>
        <input
          class="form-input"
          type="text"
          id="connection-name"
          name="connection-name"
          required
        />

      </div>
      <div class="form-group">
        <label for="word">One word to describe your connection</label>
        <input
          class="form-input"
          id="one-word"
          name="connection-description"
          required
        ></input>
       
      </div>

      <div class="form-group">
        <label for="last-contact">Last contact with your connection</label>
        <input
          class="form-input"
          id="last-contact"
          name="connection-description"
        ></input>
      </div>

        <div class="form-group">
        <label for="steps">Any additional details you like to add</label>
        <textarea
          class="form-input"
          id="details"
          name="connection-description"
        ></textarea>
      </div>


      <div class="form-group">
        <label for="steps">What steps can you take to reconnect?</label>
        <textarea
          class="form-input"
          id="steps"
          name="connection-description"
        ></textarea>
      </div>



      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if notes.length}}
    <div class="col-md-6 connection-list">
      <h3>Saved Connections</h3>

      {{#each notes as |note|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/notes/{{note.id}}">{{note.name}}</a></h4>
            <p>{{note.word}}</p>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delbtn"
              data-id="{{note.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/connection.js"></script>