<div class="container">
  <h1>My Notes</h1>
  {{#if notes}}
    <div class="row">
      {{#each notes}}
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h2>{{title}}</h2>
              <p class="card-text">{{body}}</p>
              <a href="/notes/{{id}}" class="btn btn-primary">View Note &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Created on {{createdAt}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No notes yet!</p>
  {{/if}}
</div>
